body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    text-align: center;
}

p {
    margin: 0;
}

a {
    color: rgb(14, 95, 165)
}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

footer {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.title {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    user-select: none;
}

::selection {
    background-color: rgba(255, 234, 0, 0.525);
}