html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(20, 20, 20);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 350;
    text-align: left;
}

p {
    margin: 0;
}

a {
    color: rgb(22, 184, 98)
}

h1 {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
}

.main-header {
    background: #ffce00;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 20px;
}

.page-link {
    color: black;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    user-select: none;

    position: relative;
    bottom: 7px;
}

.page-link:hover {
    color: rgb(0, 0, 0);
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    flex: 1;
}

.blog-body {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px;
    gap: 20px;
    flex: 1;
}

.home {
    padding: 20px;
    max-width: 1000px;
}

.home-title {
    font-size: 100px;
    text-align: center;
}

.home-subtitle {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin: 0 0 30px
}

.home-header {
    font-size: 20px;
    margin: 30px 0 10px 0;
}

.inline-logo {
    display: inline-block;
    height: 1.4em;
    position: relative;
    top: 0.15em;
}

footer {
    background: rgb(7, 7, 7);
    padding: 20px;
}

.title {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
    text-align: left;
    margin: 0;
    user-select: none;
}

.rb-txt {
    height: 60px;
    width: auto;
    margin-right: 5px;
}

.section-title {
    margin: 0;
    text-align: left;
}

.section-body {
    margin: 0;
    text-align: left;
}

.foot {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    gap: 10px
}

.footer-icon-list {
    display: flex;
    align-items: start; 
    gap: 10px;
    margin-top: 10px;
}

.footer-icon {
    height: 40px;
    width: auto;
}

::selection {
    background-color: rgba(255, 208, 0, 0.5);
}

.blog-post-link {
    font-size: 20px;
}