html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(234, 232, 231), rgb(181, 177, 177));
    color: rgb(0, 0, 0);
    font-family: "Jost", sans-serif;
    font-size: 16px;
    text-align: left;
}

p {
    margin: 0;
}

a {
    color: rgb(20, 121, 211)
}

h1 {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
}

.main-header {
    background: linear-gradient(185deg, rgb(122, 62, 55), rgb(43, 33, 33));
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 20px;
}

.page-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-decoration: none;
    user-select: none;
}

.page-link:hover {
    color: rgb(255, 255, 255);
}

.home-body {
    display: flex;
    align-items: start; 
    margin: 20px;
    gap: 20px;
    flex: 1;
}

.home {
    padding: 20px;
}

.home-title {
    font-size: 60px;
}

.home-subtitle {
    font-size: 20px;
    margin: 0 0 30px
}

.home-header {
    font-size: 20px;
    margin: 30px 0 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 20px;
}

.info-block {
    background-color: rgb(208, 208, 208);
    padding: 30px;
    display: flex;
    align-items: center; 
    gap: 30px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.info-left-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 10px;
}

.info-right-div {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 10px;
}

.info-image {
    width: 100%;
    height: auto;
}

#stay-tuned {
    background-color: rgb(249, 246, 88);
    rotate: 1deg;
}

#work-to-do {
    background-color: rgb(150, 220, 240);
    rotate: -2deg;
}

footer {
    background: linear-gradient(185deg, rgb(122, 62, 55), rgb(0, 0, 0));
    padding: 20px;
}

.title {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
    text-align: left;
    margin: 0;
    user-select: none;
}

.title-icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.section-title {
    margin: 0;
    text-align: left;
}

.section-body {
    margin: 0;
    text-align: left;
}

.foot {
    color: white;
    text-align: left;
}

::selection {
    background-color: rgba(255, 234, 0, 0.728);
}

.blog-post-link {
    font-size: 20px;
}